bump2version        ==1.0.1
deepmerge           ==0.3.0
distro              ==1.6.0
eland               ==7.13.0b1
elasticsearch       ==7.13.4
google-cloud-storage==1.41.1
google-crc32c       ==1.1.2
graphviz            ==0.16
jupyter            
libtmux             ==0.10.1
matplotlib         
nbsmoke             ==0.5.0
numpy               
pandas              
pathlib2            ==2.3.5
plotly              ==5.3.1
sacred              ==0.8.2
scikit-learn 
scipy               
seaborn             